* {
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', serif;
    
}

h2{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;    
    margin-bottom: 30px;
}

.container {
    /*color: #FEFCFD;*/

    max-width: 1200px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 40px;
}

@media (max-width: 1366px){
    .container {
    max-width: 960px;
    }
}

@media (max-width: 992px)
{
    .container {
        max-width: 750px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
}

@media (max-width: 578px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }
}