.program-items {

    display: flex;
    justify-content: space-between;
}

.program-item {
    max-width: 350px;
    margin-bottom: 150px;
}

.program-modul {
    font-weight: normal;
    font-size: 16px;
}

.program-name {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 36px;
}

.program-lessons {
    font-size: 16px;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .program-item {
        max-width: 350px;
        margin-bottom: 100px;
    }

    .program-name {
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 30px;
    }

}

@media (max-width: 578px) {
    .program-items {

        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }

    .program-item {
        max-width: 350px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .program-name {
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 30px;
    }

    .program-lessons {
        font-size: 14px;
    }


}