.footer__container {
    margin: 0 auto;
    background-color: #262626;
    color: #FFFFFF;
    font-family: Graphik, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 155%;
    letter-spacing: 0.155em;
}

.footer__content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;

    padding-top: 150px;
    padding-bottom: 50px;
}

.footer__column {
    display: flex;
    flex-direction: column;
    width: 300px;

    margin-bottom: 50px;
}

.footer__a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer__a:hover {
    text-decoration: underline;
}

.footer__a:active {
    color: #9C9C9C;
}
