ul,
ol,
li {
    list-style: none;
    padding: 0;
}



.curses__container {
    /*color: #FEFCFD;*/

    max-width: 1200px;
    margin: 0 auto;
    margin-top: 210px;
    font-weight: 500;
    font-size: 40px;

}

.curses__container ul {
    margin-top: 0;
}

.curses__title {
    border-bottom: 1px solid black;
}

/*li::before {
    content: '';
    background-color: rgb(126, 126, 126);
    height: 1px;
    display: block;
}*/



li:hover {

    color: #ffffff;
    padding-left: 47px;
    background-color: #506AF3;
    transition: 1s;


}

li{
    transition: 0.3s;
    padding-top: 12px;
    padding-bottom: 12px;

}


li ~ li:hover::before  {
    opacity: 0;
}
